.home-page {
    background-color: #f0f0f0;
    background-image: url(../../public/winter_train.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding :0px;
  }

  img {
  max-width: 100%; /* 부모 요소의 너비에 맞게 이미지 크기 조절 */
  height: auto; /* 가로 세로 비율을 유지하면서 크기 조절 */
}

/* 미디어 쿼리를 사용하여 화면 크기에 따라 이미지 크기 조절 */
@media (min-width: 768px) {
  img {
    max-width: 50%; /* 화면 너비가 768px 이상일 때 이미지 크기 조절 */
  }
}

h1{
  letter-spacing: 2px;
  font-size: 40px;
}

h3{
  letter-spacing: 2px;
  font-size: 20px;
}